body {
  width: 100%;
  height: 100%;
}

.list-div {
  width: 200px;
  height: 400px;
  overflow-y: scroll;
  overflow-x:hidden;
  color: black;
  margin-left: 10px;
  position: relative;
  float: left;
}

.app-container {
  position: relative;
  width: 1000px;
  margin: auto;
  top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 0px 10px 10px 10px;
}

ul > li:last-of-type {
  padding-bottom: 0px;
}